<div id="main" class="clearfix">
    
    <!-- Show a "Please Upgrade" box to both IE7 and IE6 users (Edit to IE 6 if you just want to show it to IE6 users) - jQuery will load the content from js/ie.html into the div -->
    
    <!--[if lte IE 7]>
        <div class="ie warning"></div>
    <![endif]-->
    
    <!--<div id="content" role="main">-->
    <div role="main">
    
        <article class="post">
        
            <h1 class="entry-title">Amida Name</h1>
            
            <div class="entry-content">
                <div id="amida" style="margin:0px auto;">
                    <div>
                        <div class="start_division"><div class="member_name">１２３４５６７８９０</div></div>
                        <div class="start_division"><input type="button" id="button_1" class="start_button" value="ほげほげほげほげほげほげ" /></div>
                        <div class="start_division"><input type="text" class="start_text" value="nakamura" /><input type="button" value="決定" /></div>
                    </div>
                    <div  class="clearfix">
                        <canvas id="sample" width="900" height="400"></canvas>
                    </div>
                    <div>
                        <div class="goal_division">１２３４５６７８</div>
                        <div class="goal_division">１２３４５６７８</div>
                        <div class="goal_division">１２３４５６７８</div>
                    </div>
                </div>
            </div>
        </article>
	</div> <!-- #content -->



</div> <!-- #main -->
