<div id="main" class="clearfix">
    
    <!-- Show a "Please Upgrade" box to both IE7 and IE6 users (Edit to IE 6 if you just want to show it to IE6 users) - jQuery will load the content from js/ie.html into the div -->
    
    <!--[if lte IE 7]>
        <div class="ie warning"></div>
    <![endif]-->
    
    <!--<div id="content" role="main">-->
    <div role="main">
    
        <article class="post">
        
            <h1 class="entry-title">Amida Name</h1>
            
            <div class="entry-content">
                <div id="amida" style="margin:0px auto;">
                    <div>
                        <div style="width:300px; float:left;"><input type="button" id="button_0" class="start_button" value="１２３４５６７８９０" /></div>
                        <div style="width:300px; float:left;"><input type="button" id="button_1" class="start_button" value="ほげほげほげほげほげほげ" /></div>
                        <div style="width:300px; float:left;"><input type="button" id="button_2" class="start_button" value="nakamura" /></div>
                    </div>
                    <div  class="clearfix">
                        <canvas id="sample" width="900" height="400"></canvas>
                    </div>
                    <div>
                        <div style="width:300px; float:left; text-align: center;">１２３４５６７８</div>
                        <div style="width:300px; float:left; text-align: center;">１２３４５６７８</div>
                        <div style="width:300px; float:left; text-align: center;">１２３４５６７８</div>
                    </div>
                </div>
            </div>
        </article>
	</div> <!-- #content -->



</div> <!-- #main -->
