canvas {
    border:1px solid black;
}

.start_button {
    width: 80px;
    text-align: center;
}

.start_text {
    width: 80px;
    text-align: center;
}

.member_name {
    text-align: center;
}

.start_division {
    width: 300px;
    float: left;
}

.goal_division {
    width: 300px;
    float: left;
    text-align: center;
}
